META_APP_ID=seu_app_id
META_APP_SECRET=seu_app_secret
META_ACCESS_TOKEN=seu_access_token_aqui_gerado_no_business_manager
META_AD_ACCOUNT_ID=act_seu_account_id_aqui
META_PAGE_ID=seu_page_id_aqui
META_PIXEL_ID=seu_pixel_id_aqui
